$colors: (
    black: #000000,
	gray: #353535,
    gray-subtitle: #5E5E5E,
    gray-search: #BFBFBF,
    primary: #F22539,
    yellow: #ECA539,
    white: #ffffff,
    white-primary: #F9F9F9,
    white-secondary: #F5F5F5,
    background: #E5E5E5,
    border-gray: #E8E8E8,
);

$sizes: (
	small8: 8px,
    medium16: 18px,
	medium18: 18px,
    medium20: 20px,
    medium22: 22px,
	large: 26px,
    large36: 36px,
);

$weight: (
	bold: bold,
	w300: 300,
	w400: 400,
	w500: 500,
	w600: 600,
	w700: 700,
	w800: 800,
	w900: 900,
);
